/* static/css/object.css */

/* Кнопка для добавления объекта */
.add-object-btn {
    position: absolute;
    bottom: 40px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.add-object-btn:hover {
    background-color: #45a049;
}

/* Сообщение выбора точки на карте */
.select-point-message {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
}

/* Окно подтверждения выбора точки на карте */
.confirm-selection-message {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    z-index: 1000;
}

.confirm-btn, .cancel-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.confirm-btn:hover, .cancel-btn:hover {
    background-color: #45a049;
}

.message {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

#confirmSelectionMessage .btn {
    margin: 5px;
}

/* Стили для предварительного просмотра изображений */
.photos-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-container {
    position: relative;
}

.preview-image {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.photo-container label {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
}

/* Дополнительные стили для загрузки фотографий */
.image-input {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.image-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.image-input img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-input .delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-input .delete-icon:hover {
    background: rgba(255, 255, 255, 1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button.btn.btn-primary {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.btn.btn-primary:hover {
    background-color: #218838;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
}

.modal-content.top-modal {
    margin: 2% auto; /* Adjust the top margin to position it higher */
}
/* Медиа-запрос для экранов с шириной 992px и меньше */
@media (max-width: 992px) {
    .modal-content.top-modal {
        margin: 10% auto; /* Увеличиваем margin-top на 40px */
    }
}
@media (max-width: 710px) {
    .modal-content.top-modal {
        margin: 16% auto; /* Увеличиваем margin-top на 40px */
    }
}

@media (max-width: 500px) {
    .modal-content.top-modal {
        margin: 20% auto; /* Увеличиваем margin-top на 40px */
    }
}
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; /* предотвращает растягивание элемента на всю ширину */
    padding: 5px; /* увеличивает область клика */
    margin: 0; /* сбрасывает отступы */
    position: absolute; /* фиксирует позицию в правом верхнем углу */
    top: 10px; /* позиция сверху */
    right: 10px; /* позиция справа */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}





.confirm-selection-message p {
    color: white; /* Устанавливаем белый цвет текста */
}

.toggle-button {
    margin-bottom: 10px;
}

.toggle-section {
    margin-top: 10px;
}
.modal-body{
    width: 100%;
}
/* Добавим этот стиль для контроля ширины всех форм */
.form-group input[type="text"],
.form-group textarea,
.form-group select,
.form-group input[type="url"] {
    width: 100%; /* Увеличиваем ширину */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    box-sizing: border-box; /* Это гарантирует, что padding и border не увеличивают ширину элемента */
}

/* Обновим стили для кнопок */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-16 {
  border: none;
  color: #000;
}

.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #ffffff,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-16:hover {
  color: #000;
}

.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-16:active {
  top: 2px;
}