/* static/css/sidebar.css */
.sidebar {
    background: rgba(248, 249, 250, 0.9);
    padding: 10px;
    width: 280px;
    position: absolute;
    top: 56px;
    left: 0;
    height: calc(100vh - 56px);
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.sidebar h6 {
    margin-top: 10px;
    font-weight: bold;
}

.legend {
    list-style: none;
    padding: 0;
}

.legend li {
    margin-bottom: 10px;
}

.legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.type-list {
    padding-left: 20px;
}

.category-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-toggle i {
    margin-left: 5px;
}

.btn-secondary {
    margin-bottom: 30px;
}

resetFilters {
    background-color: #0C95D0 !important;
    color: white;
    border-color: #0C95D0;
}
