<!-- map_app/templates/map_app/includes/sidebar.html -->
<div class="sidebar">
    <input type="text" class="form-control mb-3" placeholder="Начните печатать здесь, чтобы найти проекты">
    <div>
        <h6>Качество проектов</h6>
        <p>Проекты курируются администраторами Зеленой Карты и отображаются только проекты самого высокого качества,
            содержащие исследовательские данные.</p>
        <h6>Категории</h6>
        <button class="btn btn-secondary btn-block" id="resetFilters">Сбросить фильтры</button>
        <ul class="legend">
            {% for category in categories %}
                <li>
                    <a href="#" class="category-toggle">
                        <span style="background-color: {{ category.color }};"></span>{{ category.name }} ({{ category.types.count }})
                    </a>
                    <ul class="type-list" style="display: none;">
                        {% for type in category.types.all %}
                            <li>
                                <span style="background-color: {{ type.color }}"></span>
                                <a href="#" class="type-filter" data-type-id="{{ type.id }}">{{ type.name }} ({{ type.object_set.count }})</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
