<!-- templates/map_app/about_us.html -->
{% extends 'map_app/base.html' %}

{% block title %}Водно-зеленая карта{% endblock %}

{% block content %}
<div class="about-container">
    <h2>О нашем проекте</h2>
    <p>Наша миссия заключается в создании интерактивной карты, которая поможет людям находить и делиться информацией о водных и зеленых объектах в их районе. Мы стремимся к тому, чтобы наш проект был полезен для всех пользователей и способствовал сохранению окружающей среды.</p>
    <h3>Наши цели:</h3>
    <ul>
        <li>Сбор и предоставление информации о водных и зеленых объектах</li>
        <li>Увеличение осведомленности об экологических проблемах</li>
        <li>Поддержка местных сообществ в их усилиях по сохранению природы</li>
    </ul>
    <h3>Контактная информация:</h3>
    <p>Если у вас есть вопросы или предложения, свяжитесь с нами по адресу <a href="mailto:info@water-green-map.com">info@water-green-map.com</a>.</p>
</div>
{% endblock %}
