{% extends "map_app/base.html" %}

{% block content %}

<button class="btn btn-primary toggle-sidebar-btn"><</button>
<div id="map"></div>
{% include 'map_app/includes/sidebar.html' %}
<!-- Модальные окна при добавлении объекта -->
{% include 'map_app/modal/objects/modal_overlay.html' %}
{% include 'map_app/modal/objects/category_modal_overlay.html' %}

<!-- Модальные окна для регистрации и авторизации пользователей -->
{% include 'map_app/modal/users/auth_choice_modal.html' %}
{% include 'map_app/modal/users/login_modal.html' %}
{% include 'map_app/modal/users/signup_modal.html' %}
{% endblock %}

{% block scripts %}


    var map = L.map('map').setView([55.755864, 37.617698], 10);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Add objects to map
    var objects = {{ objects|safe }};
    objects.forEach(function (obj) {
        L.circleMarker([obj.latitude, obj.longitude], {
            radius: 9,
            fillColor: obj.type_object__color,
            color: '#003153',
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        }).addTo(map)
        .bindPopup('<b>' + obj.name + '</b><br />' + obj.description);
    });

    // Toggle sidebar
    document.querySelector('.toggle-sidebar-btn').addEventListener('click', function () {
        var sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('collapsed');
        this.textContent = sidebar.classList.contains('collapsed') ? '>' : '<';
    });

    // Move zoom controls to the top right
    map.zoomControl.setPosition('topright');

    // Add geolocation control
    L.control.locate({
        position: 'topright',
        strings: {
            title: '<i class="fas fa-location-arrow"></i> Показать мое местоположение'
        },
        locateOptions: {
            enableHighAccuracy: true
        }
    }).addTo(map);

    // Selected object type
    var selectedObjectType = null;
    var selectedLatLng = null;
    var selectedObjectTypeColor = null; // Добавляем переменную для хранения цвета

    // Add new project button
    var newProjectBtn = L.control({position: 'bottomright'});
    newProjectBtn.onAdd = function (map) {
        var btnContainer = L.DomUtil.create('div', 'btn-container');
        var addProjectBtn = L.DomUtil.create('button', 'btn btn-primary', btnContainer);

        addProjectBtn.textContent = 'Добавить проект';

        addProjectBtn.onclick = function () {
            {% if user.is_authenticated %}
                document.getElementById('modalOverlay').style.display = 'flex';
            {% else %}
                $('#authChoiceModal').modal('show'); // Отображение модального окна выбора действия
            {% endif %}
        };

        return btnContainer;
    };
    newProjectBtn.addTo(map);

    document.getElementById('addPointBtn').onclick = function () {
        selectedObjectType = 'point';
        document.getElementById('modalOverlay').style.display = 'none';
        map.once('click', handleMapClick);
    };


    document.getElementById('closeModalBtn').onclick = function () {
        document.getElementById('modalOverlay').style.display = 'none';
    };

    // Store the polygon coordinates
    var polygonCoordinates = [];

    function handleMapClick(e) {
        selectedLatLng = e.latlng;
        if (selectedObjectType === 'point') {
            var marker = L.circleMarker(selectedLatLng, {
                radius: 12,
                fillColor: selectedObjectTypeColor,
                color: '#003153',
                weight: 2,
                opacity: 1,
                fillOpacity: 0.8
            }).addTo(map);
            document.getElementById('categoryModalOverlay').style.display = 'flex';
        }
    }

    function handlePolygonClick(e) {
        polygonCoordinates.push([e.latlng.lat, e.latlng.lng]);
        L.polygon(polygonCoordinates, {
            color: '#003153',
            weight: 2
        }).addTo(map);
        if (polygonCoordinates.length >= 3) {
            document.getElementById('categoryModalOverlay').style.display = 'flex';
            map.off('click', handlePolygonClick);
        }
    }

    document.querySelectorAll('.category-btn').forEach(button => {
        button.addEventListener('click', function () {
            var selectedCategory = this.dataset.category;
            selectedObjectTypeColor = this.style.color;
            document.getElementById('categoryModalOverlay').style.display = 'none';
            if (selectedObjectType === 'point') {
                var popupContent = getPopupContent(selectedLatLng.lat, selectedLatLng.lng, selectedCategory, null);
                var popup = L.popup()
                    .setLatLng(selectedLatLng)
                    .setContent(popupContent)
                    .openOn(map);
                setupFormSubmission(popup, selectedLatLng.lat, selectedLatLng.lng, selectedCategory, null);
            } else if (selectedObjectType === 'polygon') {
                var popupContent = getPopupContent(null, null, selectedCategory, polygonCoordinates);
                var popup = L.popup()
                    .setLatLng(polygonCoordinates[polygonCoordinates.length - 1])
                    .setContent(popupContent)
                    .openOn(map);
                setupFormSubmission(popup, null, null, selectedCategory, polygonCoordinates);
            }
        });
    });

    document.getElementById('cancelCategoryBtn').onclick = function () {
        document.getElementById('categoryModalOverlay').style.display = 'none';
    };

    function getPopupContent(lat, lng, category, polygon) {
        return `
            <form id="newObjectForm">
                <input type="hidden" name="csrfmiddlewaretoken" value="${csrftoken}">
                <div class="form-group">
                    <label for="objectName">Название</label>
                    <input type="text" class="form-control" id="objectName" required>
                </div>
                <div class="form-group">
                    <label for="objectDescription">Описание</label>
                    <textarea class="form-control" id="objectDescription" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="objectType">Тип</label>
                    <input type="text" class="form-control" id="objectType" value="${category}" readonly>
                </div>
                <input type="hidden" id="objectLatitude" value="${lat || ''}">
                <input type="hidden" id="objectLongitude" value="${lng || ''}">
                <input type="hidden" id="objectPolygon" value='${polygon ? JSON.stringify(polygon) : ''}'>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        `;
    }

    function setupFormSubmission(popup, lat, lng, category, polygon) {
        var form = popup.getElement().querySelector('form');
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            var formData = new FormData();
            formData.append('name', document.getElementById('objectName').value);
            formData.append('description', document.getElementById('objectDescription').value);
            formData.append('type_object', category);
            formData.append('latitude', lat);
            formData.append('longitude', lng);
            if (polygon) {
                formData.append('polygon', JSON.stringify(polygon));
            }
            formData.append('csrfmiddlewaretoken', csrftoken);

            $.ajax({
                type: 'POST',
                url: '{% url "add_object" %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.status === 'success') {
                        map.closePopup();
                        alert('Объект успешно добавлен!');
                    } else if (response.status === 'error') {
                        alert('Ошибка при добавлении объекта: ' + JSON.stringify(response.errors));
                    } else if (response.status === 'invalid method') {
                        alert('Неверный метод запроса.');
                    }
                },
                error: function (response) {
                    if (response.status === 403) {
                        alert('Вы должны войти в систему, чтобы добавить объект.');
                    } else {
                        alert('Ошибка при добавлении объекта: ' + response.statusText);
                    }
                }
            });
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // Обработчики для открытия модальных окон
    document.getElementById('loginLink').addEventListener('click', function() {
        $('#loginModal').modal('show');
    });

    document.getElementById('signupLink').addEventListener('click', function() {
        $('#signupModal').modal('show');
    });

    document.getElementById('openLoginModal').addEventListener('click', function() {
        $('#authChoiceModal').modal('hide');
        $('#loginModal').modal('show');
    });

    document.getElementById('openSignupModal').addEventListener('click', function() {
        $('#authChoiceModal').modal('hide');
        $('#signupModal').modal('show');
    });

    document.getElementById('backToAuthChoiceFromLogin').addEventListener('click', function() {
        $('#loginModal').modal('hide');
        $('#authChoiceModal').modal('show');
    });

    document.getElementById('backToAuthChoiceFromSignup').addEventListener('click', function() {
        $('#signupModal').modal('hide');
        $('#authChoiceModal').modal('show');
    });

{% endblock %}

