<!-- templates/map_app/index.html -->
{% extends 'map_app/base.html' %}

{% block title %}Pro Sidebar{% endblock %}

{% block content %}
    <div class="map-container" style="position: relative;">
        <div id="map"></div>
        <button id="addObjectBtn" class="add-object-btn">Добавить объект</button>
        <div id="selectPointMessage" class="select-point-message" style="display: none;">
            Выберите точку на карте
        </div>
        <div id="confirmSelectionMessage" class="confirm-selection-message" style="display: none;">
            <p>Подтвердите выбор точки</p>
            <button id="confirmBtn" class="confirm-btn">Подтвердить</button>
            <button id="cancelBtn" class="cancel-btn">Отменить</button>
        </div>
    </div>

{% endblock %}
