<!-- login_modal.html -->
{% load static %}
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="login-form-container">
            <div class="login-form">
                <h5 class="auth-title">Авторизация</h5>
                <div id="loginError" class="error-message" style="display: none; color: red; margin-bottom: 10px;"></div>
                <div id="loginSuccess" class="success-message" style="display: none; color: green; margin-bottom: 10px;"></div>
                <form id="loginForm" method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_login">Адрес электронной почты:</label>
                        <input type="text" name="login" autofocus autocapitalize="none" autocomplete="username" maxlength="254" class="form-control" required id="id_login">
                    </div>
                    <div class="form-group">
                        <label for="id_password">Пароль:</label>
                        <input type="password" name="password" autocomplete="current-password" class="form-control" required id="id_password">
                    </div>
{#                    <a href="{% url 'account_reset_password' %}" class="forgot-password">Забыли свой пароль?</a>#}
                    <div class="form-group remember-me" style="display: flex; align-items: center;">
                        <label for="id_remember">Запомнить меня</label>
                        <input type="checkbox" name="remember" id="id_remember" style="margin-right: 5px;">
                    </div>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
            <div class="login-info">
                <img src="{% static 'map_app/img/logo.png' %}" alt="Logo" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>
